@charset "ISO-8859-1";
  table {
    border:1px solid black;
    width:500px;
  }
  th {
  text-align:center;
  color:white;
  background-color:#993399;
  }
  .btn-print {
  background-color:#993399;
  border:solid 0.5px black;
  }
  .container{
  margin-top:12%;
  }
  .btn-danger{
  float:right;
  margin:6px 6px 0 0;
  border-shadow:1px 1px 4px black;
  }
