.header{
	background-color:#6648b0;
	color:white;
	padding:30px 0px 30px 50px;
}
.mail-button{
	color:red;
	font-size:50px;
}
.container-main{
	display:inline-block;
	margin-left:50px;
}
.btn{
 background-color:#6648b0;
  }
button{
	border:none;
}
table {
    margin-top:40px;
  }
  th,td {
  text-align:center;
  }
  thead{
  background-color:#6648b0;
  }