@charset "ISO-8859-1";
.btn-sign-out{
  background-color:#6648b0;
    border:none;
    color:white
  }
  .btn-info{
	background-color:#6648b0;
  }
  .btn-primary{
  background-color:#6648b0;
  border-color:#342a5a;
  }
  .btn-primary:hover{
  background-color:#342a5a;
  border-color:#6648b0;
  }
  th,td{
  text-align:center;
  }
  .table th, .table td { 
     border: none;
 }
  table{
  border:solid 1px black;
  }
  .splitter{
  background-color:#6648b0;
  }
  .headerLeaf{
  background-color:#6648b0;
  color:white;
  }
.gatepassDetails{
	margin-top:5%;
	margin-bottom:8%;
}
#gatepassFinder{
	margin-top:5%
}
.button-leaf{
margin-bottom:6%;
}
#reasonForCancellation{
	margin-top:5%;
	margin-bottom:5%;
}
textarea{
	margin-top:0;
	width:100%;
}
.button-leaf-2{
	margin-top:20px;
	margin-bottom:20px;
	
}
.cancel-header{
	background-color:#6648b0;
	color:white;
}