@charset "ISO-8859-1";
table {
    border:1px solid black;
  }
  th,td {
  text-align:center;
  }
  thead{
  background-color:#6648b0;
    border-color:white;
  }
  
  .btn-sign-out {
  background-color:#6648b0;
	border-color: white;
	color: white
}

.btn-sign-out:hover {
	background-color: #ff0000;
	border-color: white;
	color: white;
}
  
  .navbar {
  background-color:#6648b0;
  }
  
  .container {
   margin-top:12%;
  }
  
  #tableTitle{
  background-color: #6648b0;
    color:white;
  }
  .badge-primary{
  background-color: #6648b0;
  }
  .badge-primary:hover{
  background-color:#342a5a;
  }
  