@charset "ISO-8859-1";
table {
    border:1px solid black;
  }
  th {
  text-align:center;
  color:white;
  background-color:#993399;
  }
  td {
  text-align:center;
  }
.btn-danger {
  float:right;
  margin:6px 6px 0 0;
  border-shadow:1px 1px 4px black;
  }
  
  .btn-sign-out{
  background-color:#993399;
    border-color:white;
    color:white
  }
 .btn-sign-out:hover{
    background-color:#ff0000;
    border-color:white;
    color:white;
  }
  
  .navbar {
  background-color:#993399;
  }
  .container {
   margin-top:12%;
  }
  
  