@charset "ISO-8859-1";
.btn-primary{
    background-color:#6648b0;
    border-color:#342a5a;
    color:white;
  }
  .btn-primary:hover{
    background-color:#342a5a;
    border-color:#342a5a;
    color:white;
  }
  .btn-sign-out{
  background-color:#6648b0;
    border:none;
    color:white
  }
  .btn-info{
	background-color:#6648b0;
  }
  th,td,tr{
  border:none;
  }
  #tableHeader {
  color:white;
  background-color:#6648b0;
  text-align:center;
  }
  table {
    border:1px solid black;
  }
  .container {
   margin-top:12%;
  }
  
  