label {
	width: 180px;
}
input:focus,select:focus,textarea:focus{
	outline-color: #6648b0;
}

textarea {
	margin-top: 10px;
	width: 100%;
}

table {
	margin-top: 5%;
}

th,td {
	text-align: center;
}
.materialForm{
	margin-top:20px;
}
.btn-sign-out {
  background-color:#6648b0;
	border-color: white;
	color: white
}

.btn-sign-out:hover {
	background-color: #ff0000;
	border-color: white;
	color: white;
}

.navbar {
	background-color: #6648b0;
}

.btn-primary {
	background-color: #6648b0;
	border-color: #6648b0;
	padding:5px;
}

.btn-primary:hover {
	background-color: #342a5a;
	border-color: #342a5a;
	padding:4px;
}

.tableEntry {
	border: none;
	background-color: transparent;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
	text-align: center;
}

.form-group-label {
	margin-top:20px;
}
.form-group-header{
	background-color: #6648b0;
	color:white;
	margin-top:20px;
}
.button-leaf{
	margin-top:5%;
	margin-bottom:5%;
}
#bhelInfo, #nonBhelInfo {
	display: none;
}

#personRadioGroup {
	margin-top: 15px;
}

#receiverForm {
	margin-top: 3%;
}

#gatepassMainForm {
	margin-top: 5%;
}
