label {
	width: 150px;
}
input{
	padding:2px;
	margin:4px;
}

textarea {
	margin-top: 10px;
	width: 100%;
}

table {
	margin-top: 5%;
}

th,td {
	text-align: center;
}
.materialForm{
	margin-top:20px;
}
.container-naman div {
    display: inline;
  }
.btn-primary {
	background-color: #6648b0;
	border-color: #6648b0;
	padding:8px;
}
.btn-primary:hover {
	background-color: #342a5a;
	border-color: #342a5a;
}
.btn-gen{
	background-color:none;
	color:#6648b0;
	font-size:15px;
}
.btn-info,.btn-dark{
 background-color:#6648b0;
 }

.tableEntry {
	border: none;
	background-color: transparent;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	margin: 0px;
	text-align: center;
}

.form-group-label {
	margin-top:20px;
}
.form-group-header{
	background-color: #6648b0;
	color:white;
	margin-top:20px;
}
.button-leaf{
	margin-top:5%;
	margin-bottom:5%;
}
#bhelInfo, #nonBhelInfo {
	display: none;
}

#personRadioGroup {
	margin-top: 15px;
}

#receiverForm {
	margin-top: 3%;
}

#gatepassMainForm {
	margin-top: 5%;
}
.page-heading{
	font-weight:bold;
	font-size:20px;
	color:#6648b0;
	margin-top:15px;
	margin-left:320px;
	
}
