.header{
	background-color:#6648b0;
	color:white;
	padding:30px 0px 30px 50px;
}
.security{
	
margin-top:120px;
}
.container-main{
	display:inline-block;
	margin-left:50px;
}
.btn-primary {
	background-color: #6648b0;
	border-color: #6648b0;
	padding:10px 20px;
	cursor: pointer;
}

.btn-check {
	background-color: none;
	color:green;
	font-size:20px;
	cursor: pointer;
	margin-right:30px;
}
.btn-reject{
	background-color: none;
	font-size:20px;
	color:red;
	cursor: pointer;
}
table {
    border:1px solid black;
    margin-top:50px;
  }
  th,td {
  text-align:center;
  }
  thead{
  background-color:#6648b0;
    border-color:white;
  }
  th{
  color:white;
  }
  .row{
  padding:20px;
  }
  .button-leaf{
  margin-top:30px;
  }
  .btn-info,.btn-dark{
 background-color:#6648b0;
  }