@charset "ISO-8859-1";
   table {
    border:1px solid black;
  }
  th,td {
  text-align:center;
  }
.btn-sign-out{
  background-color:#6648b0;
    border-color:white;
    color:white
  }
 .btn-sign-out:hover{
    background-color:#ff0000;
    border-color:white;
    color:white;
  }
  .navbar {
  background-color:#6648b0;
  }
  .welcome-message{
   margin-top:8%;
   color:#6648b0;
  }
  .table-holder{
   margin-top:8%;
  }
  #tableTitle{
  background-color:#6648b0;
    color:white;
  }