@charset "ISO-8859-1";
   table {
    border:1px solid black;
  }
  th {
  text-align:center;
  color:white;
  background-color:#993399;
  }
.btn-danger {
  float:right;
  margin:6px 6px 0 0;
  border-shadow:1px 1px 4px black;
  }
  .navbar {
  background-color:#993399;
  }
  .welcome-message{
   margin-top:8%;
   color:#993399;
  }
  .table-holder{
   margin-top:8%;
  }
  td {
  text-align:center;
  }