@charset "ISO-8859-1";
   table {
    border:1px solid black;
  }
  th,td {
  text-align:center;
  }
  
.btn-info,.btn-dark{
 background-color:#6648b0;
  }

.btn-sign-out{
  background-color:#6648b0;
    border:none;
    color:white
  }
  .welcome-message{
   margin-top:2%;
   color:#6648b0;
  }
  .table-holder{
   margin-top:2%;
  }
  #tableTitle{
  background-color:#6648b0;
    color:white;
  }
  #donutchart{
  width:1000px;
  height:1000px;
  align:center;
  margin-left:20%;
  }
  #logout{
  border:none;
  color:white;
  background-color:#6648b0;
  font-family: 'Poppins', sans-serif;
  }